<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Email List</title>
	<link rel="stylesheet" href="assets/style.css">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
	<script src="assets/script.js" defer></script>
</head>

<body>
	<main>
		<!-- Vue mount point -->
		<div id="container">
			<button @click="getRandomEmail(10)">Genera 10 Email</button>
			<ul v-if="emailArray.length === 10">
				<li v-for="email in emailArray">{{ email }}</li>
			</ul>

		</div>
	</main>

</body>

</html>
